
<div class="TD-block-container" style="border-color: #{{ backColor }};">
    <div class="TD-block-name">
        <em><code>{{ blockName }}</code></em>
    </div>

    {%- autoescape false -%}
        {{- content -}}
    {%- endautoescape -%}

</div>